<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.web.dao.DatasetMapper">
  <resultMap id="BaseResultMap" type="com.data.profile.web.model.Dataset">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="dataset_id" jdbcType="VARCHAR" property="datasetId" />
    <result column="dataset_name" jdbcType="VARCHAR" property="datasetName" />
    <result column="dataset_type" jdbcType="INTEGER" property="datasetType" />
    <result column="dataset_desc" jdbcType="VARCHAR" property="datasetDesc" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="datasource_id" jdbcType="VARCHAR" property="datasourceId" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="partition_field" jdbcType="VARCHAR" property="partitionField" />
    <result column="partition_format" jdbcType="VARCHAR" property="partitionFormat" />
    <result column="entity_id" jdbcType="VARCHAR" property="entityId" />
    <result column="entity_field" jdbcType="VARCHAR" property="entityField" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>

  <sql id="Base_Column_List">
    id, status, dataset_id, dataset_name, dataset_type, dataset_desc, source_type, datasource_id, 
    table_name, partition_field, partition_format,
    entity_id, entity_field,
    owner, creator, modifier, gmt_create, gmt_modified
  </sql>

  <!-- 带负责人名称的查询列（需配合 LEFT JOIN profile_meta_user 使用） -->
  <sql id="Join_Column_List">
    d.id, d.status, d.dataset_id, d.dataset_name, d.dataset_type, d.dataset_desc, d.source_type, d.datasource_id,
    d.table_name, d.partition_field, d.partition_format,
    d.entity_id, d.entity_field,
    d.owner, d.creator, d.modifier, d.gmt_create, d.gmt_modified,
    u.user_name as owner_name
  </sql>

  <select id="selectByDatasetId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Join_Column_List" />
    from profile_meta_dataset d
    left join profile_meta_user u on d.owner = u.user_id
    where d.dataset_id = #{datasetId,jdbcType=VARCHAR}
  </select>

  <select id="selectByDatasetName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_dataset
    where dataset_name = #{datasetName,jdbcType=VARCHAR}
  </select>

  <select id="selectByParams" parameterType="com.data.profile.web.model.Dataset" resultMap="BaseResultMap">
    select
        <include refid="Join_Column_List" />
    from profile_meta_dataset d
    left join profile_meta_user u on d.owner = u.user_id
    where 1 = 1
    <if test="status != null">
      and d.status = #{status,jdbcType=INTEGER}
    </if>
    <if test="datasetId != null">
      and d.dataset_id = #{datasetId,jdbcType=VARCHAR}
    </if>
    <if test="datasetName != null">
      and d.dataset_name = #{datasetName,jdbcType=VARCHAR}
    </if>
    <if test="datasetType != null">
      and d.dataset_type = #{datasetType,jdbcType=INTEGER}
    </if>
    <if test="datasetDesc != null">
      and d.dataset_desc = #{datasetDesc,jdbcType=VARCHAR}
    </if>
    <if test="sourceType != null">
      and d.source_type = #{sourceType,jdbcType=INTEGER}
    </if>
    <if test="datasourceId != null">
      and d.datasource_id = #{datasourceId,jdbcType=VARCHAR}
    </if>
    <if test="tableName != null">
      and d.table_name = #{tableName,jdbcType=VARCHAR}
    </if>
    <if test="partitionField != null">
      and d.partition_field = #{partitionField,jdbcType=VARCHAR}
    </if>
    <if test="partitionFormat != null">
      and d.partition_format = #{partitionFormat,jdbcType=VARCHAR}
    </if>
    <if test="entityId != null">
      and d.entity_id = #{entityId,jdbcType=VARCHAR}
    </if>
    <if test="entityField != null">
      and d.entity_field = #{entityField,jdbcType=VARCHAR}
    </if>
    <if test="owner != null">
      and d.owner = #{owner,jdbcType=VARCHAR}
    </if>
    <if test="creator != null">
      and d.creator = #{creator,jdbcType=VARCHAR}
    </if>
    <if test="modifier != null">
      and d.modifier = #{modifier,jdbcType=VARCHAR}
    </if>
    <if test="gmtCreate != null">
      and d.gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    </if>
    <if test="gmtModified != null">
      and d.gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    </if>
  </select>

  <select id="selectByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Join_Column_List" />
    from profile_meta_dataset d
    left join profile_meta_user u on d.owner = u.user_id
    where d.dataset_name LIKE CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%')
  </select>

  <insert id="insert" parameterType="com.data.profile.web.model.Dataset">
    insert into profile_meta_dataset (status, dataset_id,
      dataset_name, dataset_type, dataset_desc, 
      source_type, datasource_id, table_name,
      partition_field, partition_format,
      entity_id, entity_field,
      owner, creator, modifier
      )
    values (#{status,jdbcType=INTEGER}, #{datasetId,jdbcType=VARCHAR},
      #{datasetName,jdbcType=VARCHAR}, #{datasetType,jdbcType=INTEGER}, #{datasetDesc,jdbcType=VARCHAR}, 
      #{sourceType,jdbcType=INTEGER}, #{datasourceId,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR},
      #{partitionField,jdbcType=VARCHAR}, #{partitionFormat,jdbcType=VARCHAR},
      #{entityId,jdbcType=VARCHAR}, #{entityField,jdbcType=VARCHAR},
      #{owner,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.web.model.Dataset">
    insert into profile_meta_dataset
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="status != null">
        status,
      </if>
      <if test="datasetId != null">
        dataset_id,
      </if>
      <if test="datasetName != null">
        dataset_name,
      </if>
      <if test="datasetType != null">
        dataset_type,
      </if>
      <if test="datasetDesc != null">
        dataset_desc,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="datasourceId != null">
        datasource_id,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="partitionField != null">
        partition_field,
      </if>
      <if test="partitionFormat != null">
        partition_format,
      </if>
      <if test="entityId != null">
        entity_id,
      </if>
      <if test="entityField != null">
        entity_field,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="datasetId != null">
        #{datasetId,jdbcType=VARCHAR},
      </if>
      <if test="datasetName != null">
        #{datasetName,jdbcType=VARCHAR},
      </if>
      <if test="datasetType != null">
        #{datasetType,jdbcType=INTEGER},
      </if>
      <if test="datasetDesc != null">
        #{datasetDesc,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="datasourceId != null">
        #{datasourceId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="partitionField != null">
        #{partitionField,jdbcType=VARCHAR},
      </if>
      <if test="partitionFormat != null">
        #{partitionFormat,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null">
        #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="entityField != null">
        #{entityField,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByDatasetIdSelective" parameterType="com.data.profile.web.model.Dataset">
    update profile_meta_dataset
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="datasetId != null">
        dataset_id = #{datasetId,jdbcType=VARCHAR},
      </if>
      <if test="datasetName != null">
        dataset_name = #{datasetName,jdbcType=VARCHAR},
      </if>
      <if test="datasetType != null">
        dataset_type = #{datasetType,jdbcType=INTEGER},
      </if>
      <if test="datasetDesc != null">
        dataset_desc = #{datasetDesc,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="datasourceId != null">
        datasource_id = #{datasourceId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="partitionField != null">
        partition_field = #{partitionField,jdbcType=VARCHAR},
      </if>
      <if test="partitionFormat != null">
        partition_format = #{partitionFormat,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null">
        entity_id = #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="entityField != null">
        entity_field = #{entityField,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where dataset_id = #{datasetId,jdbcType=BIGINT}
  </update>

  <update id="updateByDatasetId" parameterType="com.data.profile.web.model.Dataset">
    update profile_meta_dataset
    set status = #{status,jdbcType=INTEGER},
      dataset_id = #{datasetId,jdbcType=VARCHAR},
      dataset_name = #{datasetName,jdbcType=VARCHAR},
      dataset_type = #{datasetType,jdbcType=INTEGER},
      dataset_desc = #{datasetDesc,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=INTEGER},
      datasource_id = #{datasourceId,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      partition_field = #{partitionField,jdbcType=VARCHAR},
      partition_format = #{partitionFormat,jdbcType=VARCHAR},
      entity_id = #{entityId,jdbcType=VARCHAR},
      entity_field = #{entityField,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where dataset_id = #{datasetId,jdbcType=VARCHAR}
  </update>

  <delete id="deleteByDatasetId" parameterType="java.lang.String">
    delete from profile_meta_dataset
    where dataset_id = #{datasetId,jdbcType=VARCHAR}
  </delete>
</mapper>