<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.web.dao.DataSourceMapper">
    <resultMap id="BaseResultMap" type="com.data.profile.web.model.DataSource">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="datasource_id" jdbcType="VARCHAR" property="datasourceId" />
        <result column="datasource_name" jdbcType="VARCHAR" property="datasourceName" />
        <result column="datasource_desc" jdbcType="VARCHAR" property="datasourceDesc" />
        <result column="datasource_type" jdbcType="VARCHAR" property="datasourceType" />
        <result column="config" jdbcType="VARCHAR" property="config" />
        <result column="source_type" jdbcType="INTEGER" property="sourceType" />
        <result column="owner" jdbcType="VARCHAR" property="owner" />
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="modifier" jdbcType="VARCHAR" property="modifier" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>

    <sql id="Base_Column_List">
        id, status, datasource_id, datasource_name, datasource_desc, datasource_type,
        source_type, owner, creator, modifier, gmt_create, gmt_modified, config
    </sql>

    <!-- 带负责人名称的查询列（需配合 LEFT JOIN profile_meta_user 使用） -->
    <sql id="Join_Column_List">
        d.id, d.status, d.datasource_id, d.datasource_name, d.datasource_desc, d.datasource_type,
        d.source_type, d.owner, d.creator, d.modifier, d.gmt_create, d.gmt_modified, d.config,
        u.user_name as owner_name
    </sql>

    <select id="selectSimpleByDatasourceId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Join_Column_List" />
        from profile_meta_datasource d
        left join profile_meta_user u on d.owner = u.user_id
        where d.datasource_id = #{datasourceId,jdbcType=VARCHAR}
    </select>

    <select id="selectByDatasourceId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Join_Column_List" />
        from profile_meta_datasource d
        left join profile_meta_user u on d.owner = u.user_id
        where d.datasource_id = #{datasourceId,jdbcType=VARCHAR}
    </select>

    <select id="selectSimpleByDatasourceName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from profile_meta_datasource
        where datasource_name = #{datasourceName,jdbcType=VARCHAR}
    </select>

    <select id="selectByDatasourceName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from profile_meta_datasource
        where datasource_name = #{datasourceName,jdbcType=VARCHAR}
    </select>

    <select id="selectSimpleByParams" parameterType="com.data.profile.web.model.DataSource" resultMap="BaseResultMap">
        select
        <include refid="Join_Column_List" />
        from profile_meta_datasource d
        left join profile_meta_user u on d.owner = u.user_id
        where 1 = 1
        <if test="status != null">
            and d.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="datasourceName != null and datasourceName != ''">
            and d.datasource_name = #{datasourceName,jdbcType=VARCHAR}
        </if>
        <if test="datasourceType != null and datasourceType != ''">
            and d.datasource_type = #{datasourceType,jdbcType=VARCHAR}
        </if>
        <if test="sourceType != null">
            and d.source_type = #{sourceType,jdbcType=INTEGER}
        </if>
        <if test="owner != null and owner != ''">
            and d.owner = #{owner,jdbcType=VARCHAR}
        </if>
        <if test="creator != null and creator != ''">
            and d.creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="modifier != null and modifier != ''">
            and d.modifier = #{modifier,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectByParams" parameterType="com.data.profile.web.model.DataSource" resultMap="BaseResultMap">
        select
        <include refid="Join_Column_List" />
        from profile_meta_datasource d
        left join profile_meta_user u on d.owner = u.user_id
        where 1 = 1
        <if test="status != null">
            and d.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="datasourceName != null and datasourceName != ''">
            and d.datasource_name = #{datasourceName,jdbcType=VARCHAR}
        </if>
        <if test="datasourceType != null and datasourceType != ''">
            and d.datasource_type = #{datasourceType,jdbcType=VARCHAR}
        </if>
        <if test="sourceType != null">
            and d.source_type = #{sourceType,jdbcType=INTEGER}
        </if>
        <if test="owner != null and owner != ''">
            and d.owner = #{owner,jdbcType=VARCHAR}
        </if>
        <if test="creator != null and creator != ''">
            and d.creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="modifier != null and modifier != ''">
            and d.modifier = #{modifier,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectSimpleByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from profile_meta_datasource
        where datasource_name LIKE CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%')
    </select>

    <select id="selectByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from profile_meta_datasource
        where datasource_name LIKE CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%')
    </select>

    <insert id="insert" parameterType="com.data.profile.web.model.DataSource">
        insert into profile_meta_datasource (status, datasource_id,
             datasource_name, datasource_desc, datasource_type,
             source_type, owner, creator, modifier, config
        )
        values (#{status,jdbcType=INTEGER}, #{datasourceId,jdbcType=VARCHAR},
                #{datasourceName,jdbcType=VARCHAR}, #{datasourceDesc,jdbcType=VARCHAR}, #{datasourceType,jdbcType=VARCHAR},
                #{sourceType,jdbcType=INTEGER}, #{owner,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
                #{modifier,jdbcType=VARCHAR}, #{config,jdbcType=LONGVARCHAR}
               )
    </insert>

    <insert id="insertSelective" parameterType="com.data.profile.web.model.DataSource">
        insert into profile_meta_datasource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null">
                status,
            </if>
            <if test="datasourceId != null and datasourceId != ''">
                datasource_id,
            </if>
            <if test="datasourceName != null and datasourceName != ''">
                datasource_name,
            </if>
            <if test="datasourceDesc != null and datasourceDesc != ''">
                datasource_desc,
            </if>
            <if test="datasourceType != null and datasourceType != ''">
                datasource_type,
            </if>
            <if test="sourceType != null">
                source_type,
            </if>
            <if test="owner != null and owner != ''">
                `owner`,
            </if>
            <if test="creator != null and creator != ''">
                creator,
            </if>
            <if test="modifier != null and modifier != ''">
                modifier,
            </if>
            <if test="config != null and config != ''">
                config,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="datasourceId != null and datasourceId != ''">
                #{datasourceId,jdbcType=VARCHAR},
            </if>
            <if test="datasourceName != null and datasourceName != ''">
                #{datasourceName,jdbcType=VARCHAR},
            </if>
            <if test="datasourceDesc != null and datasourceDesc != ''">
                #{datasourceDesc,jdbcType=VARCHAR},
            </if>
            <if test="datasourceType != null and datasourceType != ''">
                #{datasourceType,jdbcType=VARCHAR},
            </if>
            <if test="sourceType != null">
                #{sourceType,jdbcType=INTEGER},
            </if>
            <if test="owner != null and owner != ''">
                #{owner,jdbcType=VARCHAR},
            </if>
            <if test="creator != null and creator != ''">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null and modifier != ''">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="config != null and config != ''">
                #{config,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByDataSourceIdSelective" parameterType="com.data.profile.web.model.DataSource">
        update profile_meta_datasource
        <set>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="datasourceName != null and datasourceName != ''">
                datasource_name = #{datasourceName,jdbcType=VARCHAR},
            </if>
            <if test="datasourceDesc != null and datasourceDesc != ''">
                datasource_desc = #{datasourceDesc,jdbcType=VARCHAR},
            </if>
            <if test="datasourceType != null and datasourceType != ''">
                datasource_type = #{datasourceType,jdbcType=VARCHAR},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType,jdbcType=INTEGER},
            </if>
            <if test="owner != null and owner != ''">
                owner = #{owner,jdbcType=VARCHAR},
            </if>
            <if test="creator != null and creator != ''">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null and modifier != ''">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="config != null and config != ''">
                config = #{config,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where datasource_id = #{datasourceId,jdbcType=VARCHAR}
    </update>

    <update id="updateByDataSourceId" parameterType="com.data.profile.web.model.DataSource">
        update profile_meta_datasource
        set status = #{status,jdbcType=INTEGER},
            datasource_name = #{datasourceName,jdbcType=VARCHAR},
            datasource_desc = #{datasourceDesc,jdbcType=VARCHAR},
            datasource_type = #{datasourceType,jdbcType=VARCHAR},
            source_type = #{sourceType,jdbcType=INTEGER},
            owner = #{owner,jdbcType=VARCHAR},
            creator = #{creator,jdbcType=VARCHAR},
            modifier = #{modifier,jdbcType=VARCHAR},
            config = #{config,jdbcType=LONGVARCHAR}
        where datasource_id = #{datasourceId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByDatasourceId" parameterType="java.lang.String">
        delete from profile_meta_datasource
        where datasource_id = #{datasourceId,jdbcType=VARCHAR}
    </delete>
</mapper>