<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.web.dao.EntityIdentifierMapper">
  <resultMap id="BaseResultMap" type="com.data.profile.web.model.EntityIdentifier">
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="entity_identifier_id" jdbcType="VARCHAR" property="entityIdentifierId" />
    <result column="entity_identifier_name" jdbcType="VARCHAR" property="entityIdentifierName" />
    <result column="entity_id" jdbcType="VARCHAR" property="entityId" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithEntity" type="com.data.profile.web.model.EntityIdentifier">
      <result column="entity_name" jdbcType="VARCHAR" property="entityName" />
  </resultMap>

  <sql id="Base_Column_List">
    t1.id, t1.status, t1.entity_identifier_id, t1.entity_identifier_name, t1.entity_id,
    t1.source_type, t1.creator, t1.modifier, t1.gmt_create, t1.gmt_modified
  </sql>

  <sql id="Entity_Column_List">
    t2.entity_name
  </sql>

  <select id="selectSimpleByEntityIdentifierId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from profile_meta_entity_identifier as t1
    where entity_identifier_id = #{entityIdentifierId,jdbcType=VARCHAR}
  </select>

  <select id="selectByEntityIdentifierId" parameterType="java.lang.String" resultMap="ResultMapWithEntity">
    select
        <include refid="Base_Column_List" />
        ,<include refid="Entity_Column_List" />
    from profile_meta_entity_identifier as t1
    left outer join profile_meta_entity as t2
    on t1.entity_id = t2.entity_id
    where entity_identifier_id = #{entityIdentifierId,jdbcType=VARCHAR}
  </select>

  <select id="selectSimpleByEntityIdentifierName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from profile_meta_entity_identifier as t1
    where entity_identifier_name = #{entityIdentifierName,jdbcType=VARCHAR}
  </select>

  <select id="selectByEntityIdentifierName" parameterType="java.lang.String" resultMap="ResultMapWithEntity">
    select
        <include refid="Base_Column_List" />
        ,<include refid="Entity_Column_List" />
    from profile_meta_entity_identifier as t1
    left outer join profile_meta_entity as t2
    on t1.entity_id = t2.entity_id
    where entity_identifier_name = #{entityIdentifierName,jdbcType=VARCHAR}
  </select>

  <select id="selectSimpleByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from profile_meta_entity_identifier as t1
    where entity_identifier_name LIKE CONCAT('%', #{entityIdentifierName,jdbcType=VARCHAR}, '%')
  </select>

  <select id="selectByKeyword" parameterType="java.lang.String" resultMap="ResultMapWithEntity">
    select
        <include refid="Base_Column_List" />
        ,<include refid="Entity_Column_List" />
    from profile_meta_entity_identifier as t1
    left outer join profile_meta_entity as t2
    on t1.entity_id = t2.entity_id
    where entity_identifier_name LIKE CONCAT('%', #{entityIdentifierName,jdbcType=VARCHAR}, '%')
  </select>

  <select id="selectSimpleByParams" parameterType="com.data.profile.web.model.EntityIdentifier" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from profile_meta_entity_identifier as t1
    where 1 = 1
    <if test="status != null">
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="entityIdentifierId != null and entityIdentifierId != ''">
      and entity_identifier_id = #{entityIdentifierId,jdbcType=VARCHAR}
    </if>
    <if test="entityIdentifierName != null and entityIdentifierName != ''">
      and entity_identifier_name = #{entityIdentifierName,jdbcType=VARCHAR}
    </if>
    <if test="entityId != null and entityId != ''">
      and entity_id = #{entityId,jdbcType=VARCHAR}
    </if>
    <if test="sourceType != null">
      and source_type = #{sourceType,jdbcType=INTEGER}
    </if>
    <if test="creator != null and creator != ''">
      and creator = #{creator,jdbcType=VARCHAR}
    </if>
    <if test="modifier != null and modifier != ''">
      and modifier = #{modifier,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectByParams" parameterType="com.data.profile.web.model.EntityIdentifier" resultMap="ResultMapWithEntity">
    select
        <include refid="Base_Column_List" />
        ,<include refid="Entity_Column_List" />
    from profile_meta_entity_identifier as t1
    left outer join profile_meta_entity as t2
    on t1.entity_id = t2.entity_id
    where 1 = 1
    <if test="status != null">
      and t1.status = #{status,jdbcType=INTEGER}
    </if>
    <if test="entityIdentifierId != null and entityIdentifierId != ''">
      and t1.entity_identifier_id = #{entityIdentifierId,jdbcType=VARCHAR}
    </if>
    <if test="entityIdentifierName != null and entityIdentifierName != ''">
      and t1.entity_identifier_name = #{entityIdentifierName,jdbcType=VARCHAR}
    </if>
    <if test="sourceType != null">
      and t1.source_type = #{sourceType,jdbcType=INTEGER}
    </if>
    <if test="creator != null and creator != ''">
      and t1.creator = #{creator,jdbcType=VARCHAR}
    </if>
    <if test="modifier != null and modifier != ''">
      and t1.modifier = #{modifier,jdbcType=VARCHAR}
    </if>
    <if test="entityId != null and entityId != ''">
      and t1.entity_id = #{entityId,jdbcType=VARCHAR}
    </if>
    <if test="entityName != null and entityName != ''">
      and t2.entity_name = #{entityName,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="deleteByEntityIdentifierId" parameterType="java.lang.String">
    delete from profile_meta_entity_identifier
    where entity_identifier_id = #{entityIdentifierId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.data.profile.web.model.EntityIdentifier">
    insert into profile_meta_entity_identifier (id, status, entity_identifier_id,
      entity_identifier_name, entity_id, source_type, creator, modifier
      )
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{entityIdentifierId,jdbcType=VARCHAR},
      #{entityIdentifierName,jdbcType=VARCHAR}, #{entityId,jdbcType=VARCHAR}, #{sourceType,jdbcType=INTEGER},
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.web.model.EntityIdentifier">
    insert into profile_meta_entity_identifier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="entityIdentifierId != null and entityIdentifierId != ''">
          entity_identifier_id,
      </if>
      <if test="entityIdentifierName != null and entityIdentifierName != ''">
          entity_identifier_name,
      </if>
      <if test="entityId != null and entityId != ''">
        entity_id,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="creator != null and creator != ''">
        creator,
      </if>
      <if test="modifier != null and modifier != ''">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="entityIdentifierId != null and entityIdentifierId != ''">
        #{entityIdentifierId,jdbcType=VARCHAR},
      </if>
      <if test="entityIdentifierName != null and entityIdentifierName != ''">
        #{entityIdentifierName,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null and entityId != ''">
        #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="creator != null and creator != ''">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null and modifier != ''">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByEntityIdentifierIdSelective" parameterType="com.data.profile.web.model.EntityIdentifier">
    update profile_meta_entity_identifier
    <set>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="entityIdentifierName != null and entityIdentifierName != ''">
        entity_identifier_name = #{entityIdentifierName,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null and entityId != ''">
        entity_id = #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="creator != null and creator != ''">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null and modifier != ''">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where entity_identifier_id = #{entityIdentifierId,jdbcType=VARCHAR}
  </update>

  <update id="updateByEntityIdentifierId" parameterType="com.data.profile.web.model.EntityIdentifier">
    update profile_meta_entity_identifier
    set status = #{status,jdbcType=TINYINT},
      entity_identifier_name = #{entityIdentifierName,jdbcType=VARCHAR},
      entity_id = #{entityId,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where entity_identifier_id = #{entityIdentifierId,jdbcType=VARCHAR}
  </update>
</mapper>