<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.web.dao.LabelMapper">
    <resultMap id="BaseResultMap" type="com.data.profile.web.model.Label">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="is_valid" jdbcType="INTEGER" property="isValid" />
        <result column="label_id" jdbcType="VARCHAR" property="labelId" />
        <result column="label_name" jdbcType="VARCHAR" property="labelName" />
        <result column="label_status" jdbcType="INTEGER" property="labelStatus" />
        <result column="label_type" jdbcType="VARCHAR" property="labelType" />
        <result column="label_desc" jdbcType="VARCHAR" property="labelDesc" />
        <result column="label_category_id" jdbcType="VARCHAR" property="labelCategoryId" />
        <result column="label_data_type" jdbcType="INTEGER" property="labelDataType" />
        <result column="label_dist_type" jdbcType="INTEGER" property="labelDistType" />
        <result column="label_organize_type" jdbcType="INTEGER" property="labelOrganizeType" />
        <result column="label_produce_type" jdbcType="INTEGER" property="labelProduceType" />
        <result column="label_time_type" jdbcType="INTEGER" property="labelTimeType" />
        <result column="entity_identifier_id" jdbcType="VARCHAR" property="entityIdentifierId" />
        <result column="source_type" jdbcType="INTEGER" property="sourceType" />
        <result column="config" property="config" jdbcType="LONGVARCHAR" typeHandler="com.data.profile.web.handler.LabelConfigHandler"/>
        <result column="is_office" jdbcType="INTEGER" property="isOffice" />
        <result column="owner" jdbcType="VARCHAR" property="owner" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="modifier" jdbcType="VARCHAR" property="modifier" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithEntity" type="com.data.profile.web.model.Label">
        <result column="entity_identifier_name" jdbcType="VARCHAR" property="entityIdentifierName" />
        <result column="entity_id" jdbcType="VARCHAR" property="entityId" />
        <result column="entity_name" jdbcType="VARCHAR" property="entityName" />
    </resultMap>

    <sql id="Base_Column_List">
        t1.id, t1.is_valid, t1.label_id, t1.label_name, t1.label_status, t1.label_type, t1.label_desc, t1.label_category_id,
        t1.label_data_type, t1.label_dist_type, t1.label_organize_type, t1.label_produce_type, t1.label_time_type,
        t1.entity_identifier_id, t1.source_type, t1.config, t1.is_office, t1.owner, t1.creator, t1.modifier, t1.gmt_create, t1.gmt_modified
    </sql>

    <sql id="Entity_Column_List">
        t2.entity_identifier_name, t2.entity_id, t3.entity_name
    </sql>

    <select id="selectSimpleByLabelId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from profile_meta_label as t1
        where label_id = #{labelId,jdbcType=VARCHAR}
    </select>

    <select id="selectByLabelId" parameterType="java.lang.String" resultMap="ResultMapWithEntity">
        select
            <include refid="Base_Column_List" />
            ,<include refid="Entity_Column_List" />
        from profile_meta_label as t1
        left outer join profile_meta_entity_identifier as t2
        on t1.entity_identifier_id = t2.entity_identifier_id
        left outer join profile_meta_entity as t3
        on t2.entity_id = t3.entity_id
        where label_id = #{labelId,jdbcType=VARCHAR}
    </select>

  <select id="selectByLabelName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from profile_meta_label as t1
    where label_name = #{labelName,jdbcType=VARCHAR}
  </select>

  <select id="selectByParams" parameterType="com.data.profile.web.model.Label" resultMap="ResultMapWithEntity">
    select
        <include refid="Base_Column_List" />
      ,<include refid="Entity_Column_List" />
    from profile_meta_label as t1
    left outer join profile_meta_entity_identifier as t2
    on t1.entity_identifier_id = t2.entity_identifier_id
    left outer join profile_meta_entity as t3
    on t2.entity_id = t3.entity_id
    where 1 = 1
    <if test="isValid != null">
      AND t1.is_valid = #{isValid,jdbcType=INTEGER}
    </if>
    <if test="labelId != null">
      AND t1.label_id = #{labelId,jdbcType=VARCHAR}
    </if>
    <if test="labelName != null">
      AND t1.label_name = #{labelName,jdbcType=VARCHAR}
    </if>
    <if test="labelStatus != null">
      AND t1.label_status = #{labelStatus,jdbcType=INTEGER}
    </if>
    <if test="labelType != null">
      AND t1.label_type = #{labelType,jdbcType=VARCHAR}
    </if>
    <if test="labelCategoryId != null">
      AND t1.label_category_id = #{labelCategoryId,jdbcType=VARCHAR}
    </if>
    <if test="labelDataType != null">
      AND t1.label_data_type = #{labelDataType,jdbcType=INTEGER}
    </if>
    <if test="labelDistType != null">
      AND t1.label_dist_type = #{labelDistType,jdbcType=INTEGER}
    </if>
    <if test="labelOrganizeType != null">
      AND t1.label_organize_type = #{labelOrganizeType,jdbcType=INTEGER}
    </if>
    <if test="labelProduceType != null">
      AND t1.label_produce_type = #{labelProduceType,jdbcType=INTEGER}
    </if>
    <if test="labelTimeType != null">
      AND t1.label_time_type = #{labelTimeType,jdbcType=INTEGER}
    </if>
    <if test="entityIdentifierId != null">
      AND t1.entity_identifier_id = #{entityIdentifierId,jdbcType=VARCHAR}
    </if>
    <if test="sourceType != null">
      AND t1.source_type = #{sourceType,jdbcType=INTEGER}
    </if>
    <if test="isOffice != null">
      AND t1.is_office = #{isOffice,jdbcType=INTEGER}
    </if>
    <if test="owner != null">
      AND t1.owner = #{owner,jdbcType=VARCHAR}
    </if>
    <if test="creator != null">
      AND t1.creator = #{creator,jdbcType=VARCHAR}
    </if>
    <if test="modifier != null">
      AND t1.modifier = #{modifier,jdbcType=VARCHAR}
    </if>
    <if test="gmtCreate != null">
      AND t1.gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    </if>
    <if test="gmtModified != null">
      AND t1.gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    </if>
  </select>

  <select id="selectByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from profile_meta_label as t1
    where label_name LIKE CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%')
  </select>

  <insert id="insert" parameterType="com.data.profile.web.model.Label">
    insert into profile_meta_label (is_valid, label_id,
      label_name, label_status, label_type, 
      label_desc, label_category_id, label_data_type, 
      label_dist_type, label_organize_type, label_produce_type, label_time_type,
      entity_identifier_id, source_type, config, is_office,
      owner, creator, modifier)
    values (#{isValid,jdbcType=INTEGER}, #{labelId,jdbcType=VARCHAR},
      #{labelName,jdbcType=VARCHAR}, #{labelStatus,jdbcType=INTEGER}, #{labelType,jdbcType=VARCHAR},
      #{labelDesc,jdbcType=VARCHAR}, #{labelCategoryId,jdbcType=VARCHAR}, #{labelDataType,jdbcType=INTEGER}, 
      #{labelDistType,jdbcType=INTEGER}, #{labelOrganizeType,jdbcType=INTEGER}, #{labelProduceType,jdbcType=INTEGER}, 
      #{labelTimeType,jdbcType=INTEGER}, #{entityIdentifierId,jdbcType=VARCHAR}, #{sourceType,jdbcType=INTEGER}, #{config,jdbcType=VARCHAR},
      #{isOffice,jdbcType=INTEGER}, #{owner,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.web.model.Label">
    insert into profile_meta_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="labelId != null">
        label_id,
      </if>
      <if test="labelName != null">
        label_name,
      </if>
      <if test="labelStatus != null">
        label_status,
      </if>
      <if test="labelType != null">
        label_type,
      </if>
      <if test="labelDesc != null">
        label_desc,
      </if>
      <if test="labelCategoryId != null">
        label_category_id,
      </if>
      <if test="labelDataType != null">
        label_data_type,
      </if>
      <if test="labelDistType != null">
        label_dist_type,
      </if>
      <if test="labelOrganizeType != null">
        label_organize_type,
      </if>
      <if test="labelProduceType != null">
        label_produce_type,
      </if>
      <if test="labelTimeType != null">
        label_time_type,
      </if>
      <if test="entityIdentifierId != null">
        entity_identifier_id,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="config != null">
        config,
      </if>
      <if test="isOffice != null">
        is_office,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="labelId != null">
        #{labelId,jdbcType=VARCHAR},
      </if>
      <if test="labelName != null">
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelStatus != null">
        #{labelStatus,jdbcType=INTEGER},
      </if>
      <if test="labelType != null">
        #{labelType,jdbcType=VARCHAR},
      </if>
      <if test="labelDesc != null">
        #{labelDesc,jdbcType=VARCHAR},
      </if>
      <if test="labelCategoryId != null">
        #{labelCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="labelDataType != null">
        #{labelDataType,jdbcType=INTEGER},
      </if>
      <if test="labelDistType != null">
        #{labelDistType,jdbcType=INTEGER},
      </if>
      <if test="labelOrganizeType != null">
        #{labelOrganizeType,jdbcType=INTEGER},
      </if>
      <if test="labelProduceType != null">
        #{labelProduceType,jdbcType=INTEGER},
      </if>
      <if test="labelTimeType != null">
        #{labelTimeType,jdbcType=INTEGER},
      </if>
      <if test="entityIdentifierId != null">
        #{entityIdentifierId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="config != null">
        #{config,jdbcType=VARCHAR},
      </if>
      <if test="isOffice != null">
        #{isOffice,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteByLabelId" parameterType="java.lang.String">
    delete from profile_meta_label
    where label_id = #{labelId,jdbcType=VARCHAR}
  </delete>

  <update id="updateByLabelId" parameterType="com.data.profile.web.model.Label">
    update profile_meta_label
    set is_valid = #{isValid,jdbcType=INTEGER},
        label_name = #{labelName,jdbcType=VARCHAR},
        label_status = #{labelStatus,jdbcType=INTEGER},
        label_type = #{labelType,jdbcType=VARCHAR},
        label_desc = #{labelDesc,jdbcType=VARCHAR},
        label_category_id = #{labelCategoryId,jdbcType=VARCHAR},
        label_data_type = #{labelDataType,jdbcType=INTEGER},
        label_dist_type = #{labelDistType,jdbcType=INTEGER},
        label_organize_type = #{labelOrganizeType,jdbcType=INTEGER},
        label_produce_type = #{labelProduceType,jdbcType=INTEGER},
        label_time_type = #{labelTimeType,jdbcType=INTEGER},
        entity_identifier_id = #{entityIdentifierId,jdbcType=VARCHAR},
        source_type = #{sourceType,jdbcType=INTEGER},
        config = #{config,jdbcType=VARCHAR},
        is_office = #{isOffice,jdbcType=INTEGER},
        owner = #{owner,jdbcType=VARCHAR},
        creator = #{creator,jdbcType=VARCHAR},
        modifier = #{modifier,jdbcType=VARCHAR}
    where label_id = #{labelId,jdbcType=VARCHAR}
  </update>

  <update id="updateByLabelIdSelective" parameterType="com.data.profile.web.model.Label">
    update profile_meta_label
    <set>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelStatus != null">
        label_status = #{labelStatus,jdbcType=INTEGER},
      </if>
      <if test="labelType != null">
        label_type = #{labelType,jdbcType=VARCHAR},
      </if>
      <if test="labelDesc != null">
        label_desc = #{labelDesc,jdbcType=VARCHAR},
      </if>
      <if test="labelCategoryId != null">
        label_category_id = #{labelCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="labelDataType != null">
        label_data_type = #{labelDataType,jdbcType=INTEGER},
      </if>
      <if test="labelDistType != null">
        label_dist_type = #{labelDistType,jdbcType=INTEGER},
      </if>
      <if test="labelOrganizeType != null">
        label_organize_type = #{labelOrganizeType,jdbcType=INTEGER},
      </if>
      <if test="labelProduceType != null">
        label_produce_type = #{labelProduceType,jdbcType=INTEGER},
      </if>
      <if test="labelTimeType != null">
        label_time_type = #{labelTimeType,jdbcType=INTEGER},
      </if>
      <if test="entityIdentifierId != null">
        entity_identifier_id = #{entityIdentifierId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="config != null">
        config = #{config,jdbcType=VARCHAR},
      </if>
      <if test="isOffice != null">
        is_office = #{isOffice,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where label_id = #{labelId,jdbcType=VARCHAR}
  </update>

</mapper>