<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.web.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.data.profile.web.model.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="role_type" jdbcType="INTEGER" property="roleType" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, role_type, role_name, role_desc, source_type, creator, modifier, gmt_create, gmt_modified
  </sql>

  <select id="selectByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>

  <select id="selectByParams" parameterType="com.data.profile.web.model.Role" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_role
    where 1 = 1
    <if test="roleId != null and roleId != ''">
      and role_id = #{roleId,jdbcType=VARCHAR}
    </if>
    <if test="roleType != null">
      and role_type = #{roleType,jdbcType=INTEGER}
    </if>
    <if test="roleName != null and roleName != ''">
      and role_name = #{roleName,jdbcType=VARCHAR}
    </if>
  </select>

  <insert id="insert" parameterType="com.data.profile.web.model.Role">
    insert into profile_meta_role (id, role_id, role_type, role_name,
        role_desc, source_type, creator, modifier, gmt_create, gmt_modified
    )
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=VARCHAR}, #{roleType,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR},
            #{roleDesc,jdbcType=VARCHAR}, #{sourceType,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
           )
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.web.model.Role">
    insert into profile_meta_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null and roleId != ''">
        role_id,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
      <if test="roleName != null and roleName != ''">
        role_name,
      </if>
      <if test="roleDesc != null and roleDesc != ''">
        role_desc,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="creator != null and creator != ''">
        creator,
      </if>
      <if test="modifier != null and modifier != ''">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null and roleId != ''">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=INTEGER},
      </if>
      <if test="roleName != null and roleName != ''">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null and roleDesc != ''">
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="creator != null and creator != ''">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null and modifier != ''">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteByRoleId" parameterType="java.lang.String">
    delete from profile_meta_role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>

  <update id="updateByRoleId" parameterType="com.data.profile.web.model.Role">
    update profile_meta_role
    set role_type = #{roleType,jdbcType=INTEGER},
        role_name = #{roleName,jdbcType=VARCHAR},
        role_desc = #{roleDesc,jdbcType=VARCHAR},
        source_type = #{sourceType,jdbcType=INTEGER},
        modifier = #{modifier,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>

  <update id="updateByRoleIdSelective" parameterType="com.data.profile.web.model.Role">
    update profile_meta_role
    <set>
      <if test="roleType != null">
        role_type = #{roleType,jdbcType=INTEGER},
      </if>
      <if test="roleName != null and roleName != ''">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null and roleDesc != ''">
        role_desc = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="modifier != null and modifier != ''">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>

</mapper>
