<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.web.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.data.profile.web.model.Task">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="task_type" jdbcType="INTEGER" property="taskType" />
    <result column="task_related_id" jdbcType="VARCHAR" property="taskRelatedId" />
    <result column="trigger_target_id" jdbcType="VARCHAR" property="triggerTargetId" />
    <result column="trigger_type" jdbcType="INTEGER" property="triggerType" />
    <result column="trigger_cron" jdbcType="VARCHAR" property="triggerCron" />
    <result column="trigger_url" jdbcType="VARCHAR" property="triggerUrl" />
    <result column="trigger_start_time" jdbcType="VARCHAR" property="triggerStartTime" />
    <result column="trigger_end_time" jdbcType="VARCHAR" property="triggerEndTime" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>

    <sql id="Base_Column_List">
        id, status, task_id, task_name, task_desc, task_type, task_related_id, trigger_target_id,
        trigger_type, trigger_cron, trigger_url, trigger_start_time, trigger_end_time, source_type,
        owner, creator, modifier, gmt_create, gmt_modified
    </sql>

    <select id="selectByTaskId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from profile_meta_task
        where task_id = #{taskId,jdbcType=VARCHAR}
    </select>

    <select id="selectByRelatedId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from profile_meta_task
        where task_related_id = #{taskRelatedId,jdbcType=VARCHAR}
    </select>

    <select id="selectByTaskName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from profile_meta_task
        where task_name = #{taskName,jdbcType=VARCHAR}
    </select>

  <select id="selectByParams" parameterType="com.data.profile.web.model.Task" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_task
    where 1 = 1
    <if test="status != null">
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="taskName != null">
      and task_name = #{taskName,jdbcType=VARCHAR}
    </if>
    <if test="taskDesc != null">
      and task_desc = #{taskDesc,jdbcType=VARCHAR}
    </if>
    <if test="taskType != null">
      and task_type = #{taskType,jdbcType=INTEGER}
    </if>
    <if test="taskRelatedId != null">
      and task_related_id = #{taskRelatedId,jdbcType=VARCHAR}
    </if>
    <if test="triggerTargetId != null">
      and trigger_target_id = #{triggerTargetId,jdbcType=VARCHAR}
    </if>
    <if test="triggerType != null">
      and trigger_type = #{triggerType,jdbcType=INTEGER}
    </if>
    <if test="triggerCron != null">
      and trigger_cron = #{triggerCron,jdbcType=VARCHAR}
    </if>
    <if test="triggerUrl != null">
      and trigger_url = #{triggerUrl,jdbcType=VARCHAR}
    </if>
    <if test="triggerStartTime != null">
      and trigger_start_time = #{triggerStartTime,jdbcType=VARCHAR}
    </if>
    <if test="triggerEndTime != null">
      and trigger_end_time = #{triggerEndTime,jdbcType=VARCHAR}
    </if>
    <if test="sourceType != null">
      and source_type = #{sourceType,jdbcType=INTEGER}
    </if>
    <if test="owner != null">
      and owner = #{owner,jdbcType=VARCHAR}
    </if>
    <if test="creator != null">
      and creator = #{creator,jdbcType=VARCHAR}
    </if>
    <if test="modifier != null">
      and modifier = #{modifier,jdbcType=VARCHAR}
    </if>
    <if test="gmtCreate != null">
      and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    </if>
    <if test="gmtModified != null">
      and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    </if>
  </select>

  <select id="selectByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_task
    where task_name LIKE CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%')
  </select>

  <insert id="insert" parameterType="com.data.profile.web.model.Task">
    insert into profile_meta_task (status, task_id,
      task_name, task_desc, task_type,
      task_related_id, trigger_target_id, trigger_type,
      trigger_cron, trigger_url, trigger_start_time,
      trigger_end_time, source_type, owner,
      creator, modifier, gmt_create,
      gmt_modified)
    values (#{status,jdbcType=TINYINT}, #{taskId,jdbcType=VARCHAR},
      #{taskName,jdbcType=VARCHAR}, #{taskDesc,jdbcType=VARCHAR}, #{taskType,jdbcType=INTEGER},
      #{taskRelatedId,jdbcType=VARCHAR}, #{triggerTargetId,jdbcType=VARCHAR}, #{triggerType,jdbcType=INTEGER},
      #{triggerCron,jdbcType=VARCHAR}, #{triggerUrl,jdbcType=VARCHAR}, #{triggerStartTime,jdbcType=VARCHAR},
      #{triggerEndTime,jdbcType=VARCHAR}, #{sourceType,jdbcType=INTEGER}, #{owner,jdbcType=VARCHAR},
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.web.model.Task">
    insert into profile_meta_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="status != null">
        status,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="taskDesc != null">
        task_desc,
      </if>
      <if test="taskType != null">
        task_type,
      </if>
      <if test="taskRelatedId != null">
        task_related_id,
      </if>
      <if test="triggerTargetId != null">
        trigger_target_id,
      </if>
      <if test="triggerType != null">
        trigger_type,
      </if>
      <if test="triggerCron != null">
        trigger_cron,
      </if>
      <if test="triggerUrl != null">
        trigger_url,
      </if>
      <if test="triggerStartTime != null">
        trigger_start_time,
      </if>
      <if test="triggerEndTime != null">
        trigger_end_time,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskDesc != null">
        #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        #{taskType,jdbcType=INTEGER},
      </if>
      <if test="taskRelatedId != null">
        #{taskRelatedId,jdbcType=VARCHAR},
      </if>
      <if test="triggerTargetId != null">
        #{triggerTargetId,jdbcType=VARCHAR},
      </if>
      <if test="triggerType != null">
        #{triggerType,jdbcType=INTEGER},
      </if>
      <if test="triggerCron != null">
        #{triggerCron,jdbcType=VARCHAR},
      </if>
      <if test="triggerUrl != null">
        #{triggerUrl,jdbcType=VARCHAR},
      </if>
      <if test="triggerStartTime != null">
        #{triggerStartTime,jdbcType=VARCHAR},
      </if>
      <if test="triggerEndTime != null">
        #{triggerEndTime,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByTaskId" parameterType="com.data.profile.web.model.Task">
    update profile_meta_task
    set status = #{status,jdbcType=TINYINT},
        task_name = #{taskName,jdbcType=VARCHAR},
        task_desc = #{taskDesc,jdbcType=VARCHAR},
        task_type = #{taskType,jdbcType=INTEGER},
        task_related_id = #{taskRelatedId,jdbcType=VARCHAR},
        trigger_target_id = #{triggerTargetId,jdbcType=VARCHAR},
        trigger_type = #{triggerType,jdbcType=INTEGER},
        trigger_cron = #{triggerCron,jdbcType=VARCHAR},
        trigger_url = #{triggerUrl,jdbcType=VARCHAR},
        trigger_start_time = #{triggerStartTime,jdbcType=VARCHAR},
        trigger_end_time = #{triggerEndTime,jdbcType=VARCHAR},
        source_type = #{sourceType,jdbcType=INTEGER},
        owner = #{owner,jdbcType=VARCHAR},
        creator = #{creator,jdbcType=VARCHAR},
        modifier = #{modifier,jdbcType=VARCHAR},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where task_id = #{taskId,jdbcType=VARCHAR}
  </update>

  <update id="updateByTaskIdSelective" parameterType="com.data.profile.web.model.Task">
    update profile_meta_task
    <set>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="taskName != null">
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskDesc != null">
        task_desc = #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        task_type = #{taskType,jdbcType=INTEGER},
      </if>
      <if test="taskRelatedId != null">
        task_related_id = #{taskRelatedId,jdbcType=VARCHAR},
      </if>
      <if test="triggerTargetId != null">
        trigger_target_id = #{triggerTargetId,jdbcType=VARCHAR},
      </if>
      <if test="triggerType != null">
        trigger_type = #{triggerType,jdbcType=INTEGER},
      </if>
      <if test="triggerCron != null">
        trigger_cron = #{triggerCron,jdbcType=VARCHAR},
      </if>
      <if test="triggerUrl != null">
        trigger_url = #{triggerUrl,jdbcType=VARCHAR},
      </if>
      <if test="triggerStartTime != null">
        trigger_start_time = #{triggerStartTime,jdbcType=VARCHAR},
      </if>
      <if test="triggerEndTime != null">
        trigger_end_time = #{triggerEndTime,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=VARCHAR}
  </update>

    <delete id="deleteByTaskId" parameterType="java.lang.String">
        delete from profile_meta_task
        where task_id = #{taskId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByRelatedId" parameterType="java.lang.String">
        delete from profile_meta_task
        where task_related_id = #{taskRelatedId,jdbcType=VARCHAR}
    </delete>

</mapper>