<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.web.dao.UserLoginMapper">
  <resultMap id="BaseResultMap" type="com.data.profile.web.model.UserLogin">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_ua" jdbcType="VARCHAR" property="loginUa" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, login_time, login_ip, login_ua, gmt_create
  </sql>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_user_login
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByParams" parameterType="com.data.profile.web.model.UserLogin" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_user_login
    where 1 = 1
    <if test="userId != null and userId != ''">
      and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    order by login_time desc
  </select>

  <insert id="insert" parameterType="com.data.profile.web.model.UserLogin">
    insert into profile_meta_user_login (id, user_id, login_time,
        login_ip, login_ua, gmt_create
    )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP},
            #{loginIp,jdbcType=VARCHAR}, #{loginUa,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}
           )
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.web.model.UserLogin">
    insert into profile_meta_user_login
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null and userId != ''">
        user_id,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="loginIp != null and loginIp != ''">
        login_ip,
      </if>
      <if test="loginUa != null and loginUa != ''">
        login_ua,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null and userId != ''">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null and loginIp != ''">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginUa != null and loginUa != ''">
        #{loginUa,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
    delete from profile_meta_user_login
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.String">
    delete from profile_meta_user_login
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>

</mapper>
