<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.web.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.data.profile.web.model.UserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, role_id, gmt_create, gmt_modified
  </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_user_role
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_user_role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>

  <select id="selectByUserIdAndRoleId" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_user_role
    where user_id = #{userId,jdbcType=VARCHAR}
      and role_id = #{roleId,jdbcType=VARCHAR}
  </select>

  <select id="selectByParams" parameterType="com.data.profile.web.model.UserRole" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_user_role
    where 1 = 1
    <if test="userId != null and userId != ''">
      and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="roleId != null and roleId != ''">
      and role_id = #{roleId,jdbcType=VARCHAR}
    </if>
  </select>

  <insert id="insert" parameterType="com.data.profile.web.model.UserRole">
    insert into profile_meta_user_role (id, user_id, role_id,
        gmt_create, gmt_modified
    )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR},
            #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
           )
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.web.model.UserRole">
    insert into profile_meta_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null and userId != ''">
        user_id,
      </if>
      <if test="roleId != null and roleId != ''">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null and userId != ''">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null and roleId != ''">
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from profile_meta_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.String">
    delete from profile_meta_user_role
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByRoleId" parameterType="java.lang.String">
    delete from profile_meta_user_role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByUserIdAndRoleId">
    delete from profile_meta_user_role
    where user_id = #{userId,jdbcType=VARCHAR}
      and role_id = #{roleId,jdbcType=VARCHAR}
  </delete>

  <update id="updateById" parameterType="com.data.profile.web.model.UserRole">
    update profile_meta_user_role
    set user_id = #{userId,jdbcType=VARCHAR},
        role_id = #{roleId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByIdSelective" parameterType="com.data.profile.web.model.UserRole">
    update profile_meta_user_role
    <set>
      <if test="userId != null and userId != ''">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null and roleId != ''">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>
