<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.web.dao.UserLoginMapper">
  <resultMap id="BaseResultMap" type="com.data.profile.web.model.UserLogin">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="token" jdbcType="LONGVARCHAR" property="token" />
    <result column="token_status" jdbcType="TINYINT" property="tokenStatus" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, token, token_status, gmt_create, gmt_modified
  </sql>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_user_login
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_user_login
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectByParams" parameterType="com.data.profile.web.model.UserLogin" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from profile_meta_user_login
    where 1 = 1
    <if test="userId != null and userId != ''">
      and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="tokenStatus != null">
      and token_status = #{tokenStatus,jdbcType=TINYINT}
    </if>
  </select>

  <insert id="insert" parameterType="com.data.profile.web.model.UserLogin">
    insert into profile_meta_user_login (id, user_id, token,
        token_status, gmt_create, gmt_modified
    )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{token,jdbcType=LONGVARCHAR},
            #{tokenStatus,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
           )
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.web.model.UserLogin">
    insert into profile_meta_user_login
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null and userId != ''">
        user_id,
      </if>
      <if test="token != null and token != ''">
        token,
      </if>
      <if test="tokenStatus != null">
        token_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null and userId != ''">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="token != null and token != ''">
        #{token,jdbcType=LONGVARCHAR},
      </if>
      <if test="tokenStatus != null">
        #{tokenStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
    delete from profile_meta_user_login
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.String">
    delete from profile_meta_user_login
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>

  <update id="updateByUserId" parameterType="com.data.profile.web.model.UserLogin">
    update profile_meta_user_login
    set
        token = #{token,jdbcType=LONGVARCHAR},
        token_status = #{tokenStatus,jdbcType=TINYINT}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <update id="updateByUserIdSelective" parameterType="com.data.profile.web.model.UserLogin">
    update profile_meta_user_login
    <set>
      <if test="token != null and token != ''">
        token = #{token,jdbcType=LONGVARCHAR},
      </if>
      <if test="tokenStatus != null">
        token_status = #{tokenStatus,jdbcType=TINYINT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <update id="updateTokenStatusByUserId">
    update profile_meta_user_login
    set token_status = #{tokenStatus,jdbcType=TINYINT}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

</mapper>
