<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.web.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.data.profile.web.model.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="source_type" jdbcType="INTEGER" property="sourceType" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="modifier" jdbcType="VARCHAR" property="modifier" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>

    <!-- 用户带角色的结果映射 -->
    <resultMap id="UserWithRolesMap" type="com.data.profile.web.model.User" extends="BaseResultMap">
        <collection property="roles" ofType="com.data.profile.web.model.Role"
                    select="selectRolesByUserId" column="user_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, status, user_id, user_name, email, source_type, creator, modifier, gmt_create, gmt_modified
    </sql>

    <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from profile_meta_user
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from profile_meta_user
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <!-- 查询用户角色 -->
    <select id="selectRolesByUserId" resultType="com.data.profile.web.model.Role">
        SELECT
            r.id,
            r.role_id as roleId,
            r.role_name as roleName,
            r.role_type as roleType,
            r.role_desc as roleDesc,
            r.source_type as sourceType,
            r.creator,
            r.modifier,
            r.gmt_create as gmtCreate,
            r.gmt_modified as gmtModified
        FROM profile_meta_role r
        INNER JOIN profile_meta_user_role ur
        ON r.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

    <!-- 批量查询多用户的角色（IN 查询，解决 N+1） -->
    <select id="selectRolesByUserIds" resultType="com.data.profile.web.model.Role">
        SELECT
            ur.user_id AS userId,
            r.id,
            r.role_id AS roleId,
            r.role_name AS roleName,
            r.role_type AS roleType,
            r.role_desc AS roleDesc,
            r.source_type AS sourceType,
            r.creator,
            r.modifier,
            r.gmt_create AS gmtCreate,
            r.gmt_modified AS gmtModified
        FROM profile_meta_role r
        INNER JOIN profile_meta_user_role ur
        ON r.role_id = ur.role_id
        WHERE ur.user_id IN
        <foreach item="uid" collection="userIds" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </select>

  <select id="selectByParams" parameterType="com.data.profile.web.model.User" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_user
    where 1 = 1
    <if test="status != null">
      AND status = #{status,jdbcType=BIGINT}
    </if>
    <if test="userId != null and userId != ''">
      AND user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="userName != null and userName != ''">
      AND user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="sourceType != null and sourceType != ''">
      AND source_type = #{sourceType,jdbcType=BIGINT}
    </if>
    <if test="creator != null and creator != ''">
      AND creator = #{creator,jdbcType=VARCHAR}
    </if>
    <if test="modifier != null and modifier != ''">
      AND modifier = #{modifier,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_user
    where user_name LIKE CONCAT('%', #{userName,jdbcType=VARCHAR}, '%')
  </select>

  <select id="checkPassword" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_user
    where user_name = #{userName,jdbcType=VARCHAR}
      AND password = #{password,jdbcType=VARCHAR}
  </select>

  <!--<select id="countTotal" resultType="java.lang.Integer">
    select count(*) from profile_meta_user
  </select>

  <select id="countByStatus" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*) from profile_meta_user where status = #{status,jdbcType=INTEGER}
  </select>-->

  <insert id="insert" parameterType="com.data.profile.web.model.User">
    insert into profile_meta_user (id, status, user_id,
                                   user_name, email, source_type, creator,
                                   modifier, gmt_create, gmt_modified
    )
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR},
            #{userName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{sourceType,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR},
            #{modifier,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
           )
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.web.model.User">
    insert into profile_meta_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="status != null">
        status,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="status != null">
        #{status,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteByUserId" parameterType="java.lang.String">
    delete from profile_meta_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>

  <update id="updateByUserId" parameterType="com.data.profile.web.model.User">
    update profile_meta_user
    set status = #{status,jdbcType=BIGINT},
        user_name = #{userName,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        source_type = #{sourceType,jdbcType=BIGINT},
        creator = #{creator,jdbcType=VARCHAR},
        modifier = #{modifier,jdbcType=VARCHAR},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <update id="updateByUserIdSelective" parameterType="com.data.profile.web.model.User">
    update profile_meta_user
    <set>
      <if test="status != null">
        status = #{status,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>


</mapper>