<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.dao.DatasetMapper">
  <resultMap id="BaseResultMap" type="com.data.profile.model.Dataset">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="dataset_id" jdbcType="VARCHAR" property="datasetId" />
    <result column="dataset_name" jdbcType="VARCHAR" property="datasetName" />
    <result column="dataset_type" jdbcType="INTEGER" property="datasetType" />
    <result column="dataset_desc" jdbcType="VARCHAR" property="datasetDesc" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="datasource_id" jdbcType="VARCHAR" property="datasourceId" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="partition_field" jdbcType="VARCHAR" property="partitionField" />
    <result column="partition_format" jdbcType="VARCHAR" property="partitionFormat" />
    <result column="entity_id" jdbcType="VARCHAR" property="entityId" />
    <result column="entity_field" jdbcType="VARCHAR" property="entityField" />
    <result column="instance_status" jdbcType="INTEGER" property="instanceStatus" />
    <result column="instance_start_time" jdbcType="TIMESTAMP" property="instanceStartTime" />
    <result column="instance_end_time" jdbcType="TIMESTAMP" property="instanceEndTime" />
    <result column="instance_msg" jdbcType="INTEGER" property="instanceMsg" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="fields" property="fields" jdbcType="LONGVARCHAR" typeHandler="com.data.profile.handler.DatasetFieldHandler"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, status, dataset_id, dataset_name, dataset_type, dataset_desc, source_type, datasource_id, 
    table_name, partition_field, partition_format, fields,
    entity_id, entity_field, instance_status, instance_start_time, instance_end_time, instance_msg,
    owner, creator, modifier, gmt_create, gmt_modified
  </sql>

  <select id="selectByDatasetId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from profile_meta_dataset
    where dataset_id = #{datasetId,jdbcType=VARCHAR}
  </select>

  <select id="selectByDatasetName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_dataset
    where dataset_name = #{datasetName,jdbcType=VARCHAR}
  </select>

  <select id="selectByParams" parameterType="com.data.profile.model.Dataset" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from profile_meta_dataset
    where 1 = 1
    <if test="status != null">
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="datasetId != null">
      and dataset_id = #{datasetId,jdbcType=VARCHAR}
    </if>
    <if test="datasetName != null">
      and dataset_name = #{datasetName,jdbcType=VARCHAR}
    </if>
    <if test="datasetType != null">
      and dataset_type = #{datasetType,jdbcType=INTEGER}
    </if>
    <if test="datasetDesc != null">
      and dataset_desc = #{datasetDesc,jdbcType=VARCHAR}
    </if>
    <if test="sourceType != null">
      and source_type = #{sourceType,jdbcType=INTEGER}
    </if>
    <if test="datasourceId != null">
      and datasource_id = #{datasourceId,jdbcType=VARCHAR}
    </if>
    <if test="tableName != null">
      and table_name = #{tableName,jdbcType=VARCHAR}
    </if>
    <if test="partitionField != null">
      and partition_field = #{partitionField,jdbcType=VARCHAR}
    </if>
    <if test="partitionFormat != null">
      and partition_format = #{partitionFormat,jdbcType=VARCHAR}
    </if>
    <if test="entityId != null">
      and entity_id = #{entityId,jdbcType=VARCHAR}
    </if>
    <if test="entityField != null">
      and entity_field = #{entityField,jdbcType=VARCHAR}
    </if>
    <if test="instanceStatus != null">
      and instance_status = #{instanceStatus,jdbcType=INTEGER}
    </if>
    <if test="instanceStartTime != null">
      and instance_start_time = #{instanceStartTime,jdbcType=TIMESTAMP}
    </if>
    <if test="instanceEndTime != null">
      and instance_end_time = #{instanceEndTime,jdbcType=TIMESTAMP}
    </if>
    <if test="instanceMsg != null">
      and instance_msg = #{instanceMsg,jdbcType=INTEGER}
    </if>
    <if test="owner != null">
      and owner = #{owner,jdbcType=VARCHAR}
    </if>
    <if test="creator != null">
      and creator = #{creator,jdbcType=VARCHAR}
    </if>
    <if test="modifier != null">
      and modifier = #{modifier,jdbcType=VARCHAR}
    </if>
    <if test="gmtCreate != null">
      and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    </if>
    <if test="gmtModified != null">
      and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    </if>
  </select>

  <select id="selectByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_dataset
    where dataset_name LIKE CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%')
  </select>

  <insert id="insert" parameterType="com.data.profile.model.Dataset">
    insert into profile_meta_dataset (status, dataset_id,
      dataset_name, dataset_type, dataset_desc, 
      source_type, datasource_id, table_name,
      partition_field, partition_format,
      entity_id, entity_field, fields,
      instance_status, instance_start_time, instance_end_time,
      instance_msg, owner, creator, modifier
      )
    values (#{status,jdbcType=INTEGER}, #{datasetId,jdbcType=VARCHAR},
      #{datasetName,jdbcType=VARCHAR}, #{datasetType,jdbcType=INTEGER}, #{datasetDesc,jdbcType=VARCHAR}, 
      #{sourceType,jdbcType=INTEGER}, #{datasourceId,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR},
      #{partitionField,jdbcType=VARCHAR}, #{partitionFormat,jdbcType=VARCHAR},
      #{entityId,jdbcType=VARCHAR}, #{entityField,jdbcType=VARCHAR}, #{fields,jdbcType=LONGVARCHAR},
      #{instanceStatus,jdbcType=INTEGER}, #{instanceStartTime,jdbcType=TIMESTAMP},
      #{instanceEndTime,jdbcType=TIMESTAMP}, #{instanceMsg,jdbcType=VARCHAR},
      #{owner,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.model.Dataset">
    insert into profile_meta_dataset
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="status != null">
        status,
      </if>
      <if test="datasetId != null">
        dataset_id,
      </if>
      <if test="datasetName != null">
        dataset_name,
      </if>
      <if test="datasetType != null">
        dataset_type,
      </if>
      <if test="datasetDesc != null">
        dataset_desc,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="datasourceId != null">
        datasource_id,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="partitionField != null">
        partition_field,
      </if>
      <if test="partitionFormat != null">
        partition_format,
      </if>
      <if test="entityId != null">
        entity_id,
      </if>
      <if test="entityField != null">
        entity_field,
      </if>
      <if test="fields != null">
        fields,
      </if>
      <if test="instanceStatus != null">
        instance_status,
      </if>
      <if test="instanceStartTime != null">
        instance_start_time,
      </if>
      <if test="instanceEndTime != null">
        instance_end_time,
      </if>
      <if test="instanceMsg != null">
        instanceMsg,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="datasetId != null">
        #{datasetId,jdbcType=VARCHAR},
      </if>
      <if test="datasetName != null">
        #{datasetName,jdbcType=VARCHAR},
      </if>
      <if test="datasetType != null">
        #{datasetType,jdbcType=INTEGER},
      </if>
      <if test="datasetDesc != null">
        #{datasetDesc,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="datasourceId != null">
        #{datasourceId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="partitionField != null">
        #{partitionField,jdbcType=VARCHAR},
      </if>
      <if test="partitionFormat != null">
        #{partitionFormat,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null">
        #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="entityField != null">
        #{entityField,jdbcType=VARCHAR},
      </if>
      <if test="fields != null">
        #{fields,jdbcType=LONGVARCHAR},
      </if>
      <if test="instanceStatus != null">
        #{instanceStatus,jdbcType=INTEGER},
      </if>
      <if test="instanceStartTime != null">
        #{instanceStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceEndTime != null">
        #{instanceEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceMsg != null">
        #{instanceMsg,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByDatasetIdSelective" parameterType="com.data.profile.model.Dataset">
    update profile_meta_dataset
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="datasetId != null">
        dataset_id = #{datasetId,jdbcType=VARCHAR},
      </if>
      <if test="datasetName != null">
        dataset_name = #{datasetName,jdbcType=VARCHAR},
      </if>
      <if test="datasetType != null">
        dataset_type = #{datasetType,jdbcType=INTEGER},
      </if>
      <if test="datasetDesc != null">
        dataset_desc = #{datasetDesc,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="datasourceId != null">
        datasource_id = #{datasourceId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="partitionField != null">
        partition_field = #{partitionField,jdbcType=VARCHAR},
      </if>
      <if test="partitionFormat != null">
        partition_format = #{partitionFormat,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null">
        entity_id = #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="entityField != null">
        entity_field = #{entityField,jdbcType=VARCHAR},
      </if>
      <if test="fields != null">
        fields = #{fields,jdbcType=INTEGER},
      </if>
      <if test="instanceStatus != null">
        instance_status = #{instanceStatus,jdbcType=INTEGER},
      </if>
      <if test="instanceStartTime != null">
        instance_start_time = #{instanceStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceEndTime != null">
        instance_end_time = #{instanceEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceMsg != null">
        instance_msg = #{instanceMsg,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where dataset_id = #{datasetId,jdbcType=BIGINT}
  </update>

  <update id="updateByDatasetId" parameterType="com.data.profile.model.Dataset">
    update profile_meta_dataset
    set status = #{status,jdbcType=INTEGER},
      dataset_id = #{datasetId,jdbcType=VARCHAR},
      dataset_name = #{datasetName,jdbcType=VARCHAR},
      dataset_type = #{datasetType,jdbcType=INTEGER},
      dataset_desc = #{datasetDesc,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=INTEGER},
      datasource_id = #{datasourceId,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      partition_field = #{partitionField,jdbcType=VARCHAR},
      partition_format = #{partitionFormat,jdbcType=VARCHAR},
      entity_id = #{entityId,jdbcType=VARCHAR},
      entity_field = #{entityField,jdbcType=VARCHAR},
      fields = #{fields,jdbcType=VARCHAR},
      instance_status = #{syncStatus,jdbcType=INTEGER},
      instance_start_time = #{syncStartTime,jdbcType=TIMESTAMP},
      instance_end_time = #{syncEndTime,jdbcType=TIMESTAMP},
      instance_msg = #{syncTime,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where dataset_id = #{datasetId,jdbcType=VARCHAR}
  </update>

  <delete id="deleteByDatasetId" parameterType="java.lang.String">
    delete from profile_meta_dataset
    where dataset_id = #{datasetId,jdbcType=VARCHAR}
  </delete>
</mapper>