<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.dao.EntityMapper">
  <resultMap id="BaseResultMap" type="com.data.profile.model.Entity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="entity_id" jdbcType="VARCHAR" property="entityId" />
    <result column="entity_name" jdbcType="VARCHAR" property="entityName" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>

  <sql id="Base_Column_List">
    id, status, entity_id, entity_name, source_type, creator, modifier, gmt_create, gmt_modified
  </sql>

  <select id="selectByEntityId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from profile_meta_entity
    where entity_id = #{entityId,jdbcType=VARCHAR}
  </select>

  <select id="selectByEntityName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_entity
    where entity_name = #{entityName,jdbcType=VARCHAR}
  </select>

  <select id="selectByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_entity
    where entity_name LIKE CONCAT('%', #{entityName,jdbcType=VARCHAR}, '%')
  </select>

  <select id="selectByParams" parameterType="com.data.profile.model.Entity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_entity
    where 1 = 1
    <if test="status != null">
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="entityName != null and entityName != ''">
      and entity_name = #{entityName,jdbcType=VARCHAR}
    </if>
    <if test="sourceType != null">
      and source_type = #{sourceType,jdbcType=INTEGER}
    </if>
    <if test="creator != null and creator != ''">
      and creator = #{creator,jdbcType=VARCHAR}
    </if>
    <if test="modifier != null and modifier != ''">
      and modifier = #{modifier,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="deleteByEntityId" parameterType="java.lang.String">
    delete from profile_meta_entity
    where entity_name = #{entityName,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.data.profile.model.Entity">
    insert into profile_meta_entity (id, status, entity_id, 
      entity_name, source_type, creator, 
      modifier, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{entityId,jdbcType=VARCHAR},
      #{entityName,jdbcType=VARCHAR}, #{sourceType,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR},
      #{modifier,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.model.Entity">
    insert into profile_meta_entity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="entityId != null">
        entity_id,
      </if>
      <if test="entityName != null">
        entity_name,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="entityId != null">
        #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="entityName != null">
        #{entityName,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByEntityIdSelective" parameterType="com.data.profile.model.Entity">
    update profile_meta_entity
    <set>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="entityName != null">
        entity_name = #{entityName,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where entity_id = #{entityId,jdbcType=VARCHAR},
  </update>

  <update id="updateByEntityId" parameterType="com.data.profile.model.Entity">
    update profile_meta_entity
    set status = #{status,jdbcType=TINYINT},
      entity_name = #{entityName,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where entity_id = #{entityId,jdbcType=VARCHAR}
  </update>
</mapper>