<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.profile.dao.EventMapper">
  <resultMap id="BaseResultMap" type="com.data.profile.model.Event">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="event_name" jdbcType="VARCHAR" property="eventName" />
    <result column="event_desc" jdbcType="VARCHAR" property="eventDesc" />
    <result column="event_rules" jdbcType="VARCHAR" property="eventRules" />
    <result column="dataset_id" jdbcType="VARCHAR" property="datasetId" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>

  <sql id="Base_Column_List">
    id, status, event_id, event_name, event_desc, event_rules, dataset_id, source_type, 
    owner, creator, modifier, gmt_create, gmt_modified
  </sql>

  <select id="selectByEventId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from profile_meta_event
    where event_id = #{eventId,jdbcType=VARCHAR}
  </select>

  <select id="selectByEventName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_event
    where event_name = #{eventName,jdbcType=VARCHAR}
  </select>

  <select id="selectByParams" parameterType="com.data.profile.model.Event" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_event
    where 1 = 1
    <if test="status != null">
      AND status = #{status,jdbcType=INTEGER},
    </if>
    <if test="eventId != null">
      AND event_id = #{eventId,jdbcType=VARCHAR},
    </if>
    <if test="eventName != null">
      AND event_name = #{eventName,jdbcType=VARCHAR},
    </if>
    <if test="eventDesc != null">
      AND event_desc = #{eventDesc,jdbcType=VARCHAR},
    </if>
    <if test="eventRules != null">
      AND event_rules = #{eventRules,jdbcType=VARCHAR},
    </if>
    <if test="datasetId != null">
      AND dataset_id = #{datasetId,jdbcType=VARCHAR},
    </if>
    <if test="sourceType != null">
      AND source_type = #{sourceType,jdbcType=INTEGER},
    </if>
    <if test="owner != null">
      AND owner = #{owner,jdbcType=VARCHAR}
    </if>
    <if test="creator != null">
      AND creator = #{creator,jdbcType=VARCHAR}
    </if>
    <if test="modifier != null">
      AND modifier = #{modifier,jdbcType=VARCHAR}
    </if>
    <if test="gmtCreate != null">
      AND gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    </if>
    <if test="gmtModified != null">
      AND gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    </if>
  </select>

  <select id="selectByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profile_meta_event
    where event_name LIKE CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%')
  </select>

  <insert id="insert" parameterType="com.data.profile.model.Event">
    insert into profile_meta_event (status, event_id,
      event_name, event_desc, event_rules, 
      dataset_id, source_type, owner, 
      creator, modifier)
    values ( #{status,jdbcType=INTEGER}, #{eventId,jdbcType=VARCHAR},
      #{eventName,jdbcType=VARCHAR}, #{eventDesc,jdbcType=VARCHAR}, #{eventRules,jdbcType=VARCHAR}, 
      #{datasetId,jdbcType=VARCHAR}, #{sourceType,jdbcType=INTEGER}, #{owner,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.data.profile.model.Event">
    insert into profile_meta_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="status != null">
        status,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="eventName != null">
        event_name,
      </if>
      <if test="eventDesc != null">
        event_desc,
      </if>
      <if test="eventRules != null">
        event_rules,
      </if>
      <if test="datasetId != null">
        dataset_id,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="eventDesc != null">
        #{eventDesc,jdbcType=VARCHAR},
      </if>
      <if test="eventRules != null">
        #{eventRules,jdbcType=VARCHAR},
      </if>
      <if test="datasetId != null">
        #{datasetId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteByEventId" parameterType="java.lang.String">
    delete from profile_meta_event
    where event_id = #{eventId,jdbcType=VARCHAR}
  </delete>

  <update id="updateByEventId" parameterType="com.data.profile.model.Event">
    update profile_meta_event
    set status = #{status,jdbcType=INTEGER},
        event_name = #{eventName,jdbcType=VARCHAR},
        event_desc = #{eventDesc,jdbcType=VARCHAR},
        event_rules = #{eventRules,jdbcType=VARCHAR},
        dataset_id = #{datasetId,jdbcType=VARCHAR},
        source_type = #{sourceType,jdbcType=INTEGER},
        owner = #{owner,jdbcType=VARCHAR},
        creator = #{creator,jdbcType=VARCHAR},
        modifier = #{modifier,jdbcType=VARCHAR}
    where event_id = #{eventId,jdbcType=VARCHAR}
  </update>

  <update id="updateByEventIdSelective" parameterType="com.data.profile.model.Event">
    update profile_meta_event
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="eventName != null">
        event_name = #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="eventDesc != null">
        event_desc = #{eventDesc,jdbcType=VARCHAR},
      </if>
      <if test="eventRules != null">
        event_rules = #{eventRules,jdbcType=VARCHAR},
      </if>
      <if test="datasetId != null">
        dataset_id = #{datasetId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where event_id = #{eventId,jdbcType=VARCHAR}
  </update>
</mapper>